@model Session

<p class="fig"><img width="200px"  src="~/images/Warning.jpg" /></p>

<img width="100%" src="~/images/Ремонт.jpg" />
<body>
    <div class='result'></div>
    <div class='cinemaHall zal1'></div>

</body>